@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #444;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
}


.navbar {
    height: 90px;
    background-color: #A2303C;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo i {
    font-size: 20px;
}

.navbar .logo a {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 12px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: auto;
    
}

.menu-links {
    display: flex;
    gap: 24px;
    border-right: 1px solid #A2303C;
    padding-inline: 24px;
}

.menu-links a {
    font-weight: 500;
    color: #FFF;
    padding: 8px 16px;
}

.menu-links a:hover {
    color: #FFF;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 97vh;
}

.icon{
    color: #A2303C;
}

.title{
    color: #A2303C;
}

.leis-disp {
    background-color: #FDF3F3;
}

.aabout{
    background-color: #fdf3f3;
}

.coment {
    background-color: #fdf3f3;
}

.portifolio{
    background-color: #BF3F49;
}

.contact{
    background-color: white;
}

.footer{
    background-color: #A2303C;
}
.intro-bg{
    background-image: url('img/gavel-2492011_1280.jpg');
    opacity: 0.75;
}

